<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title th:text="${titulo}"></title>
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>
<header th:fragment="header">

            <div class="container-fluid">
                <form class="d-flex" th:action="@{/PersonalAutorizado/buscar}" th:object="${usuario}"
                      method="GET">
                    <input class="form-control me-2" type="text" name="term" id="term" size="70"
                               th:value="${term}" placeholder="Buscar"/>
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>

                </form>
            </div>

</header>
</body>
</html>