<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container" style="width: 92rem;">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div class="container">
					<div class="card bg-light">
						<div class="card-body">
							<form th:action="@{/Productividad/formProductividad}"
								th:object="${producto}" method="post"
								enctype="multipart/form-data">
								<div class="form-group row">
									<label for="nombre" class="col-sm-4 col-form-label">Tipo
										de producto</label>
									<div class="col-sm-8">
										<select id="producto" name="producto"
											th:field="*{nombreProducto}" required>
											<option th:if="${nombreProducto == null}" th:value>--
												Seleccione el tipo de producto --</option>
											<option th:each="producto : ${opcionesProducto}"
												th:value="${producto}" th:utext="${producto}" />
										</select>
									</div>
								</div>
								<br>
								<div id="descripcion" class="form-group row">
									<label for="nombre" class="col-sm-4 col-form-label">Descripci&oacute;n</label>
									<div class="col-sm-8">
										<input type="text" class="form-control"
											th:field="*{descripcionProducto}" />
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="file" class="col-sm-4 col-form-label">Archivo
										PDF</label>
									<div class="col-sm-8">
										<input type="file" name="file" class="form-control"
											accept=".pdf" />
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="nombre" class="col-sm-4 col-form-label">Guardar
									</label>
									<div class="col-sm-6">
										<input type="submit" value="Guardar Prodcuto"
											class="btn btn-primary" />
									</div>
								</div>
								<br> <input type="hidden" th:field="*{id}" />

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>